@plugin "daisyui";
@import "tailwindcss";


.bgImageColor{
  background-image: linear-gradient(135deg, #632ee3, #8e54ee, #8f54ee);
}
.bgImageColor2{
  background-image: linear-gradient(135deg, #54cf68, #2caa71, #02827a);
}
.cardBackground {
  position: relative;
}
.cardBackground::before,
.cardBackground::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.cardBackground::before {
  left: 0;
  background-image: url('./assets/vector1.png');
  background-position: left bottom;
}
.cardBackground::after {
  right: 0;
  background-image: url('./assets/vector1.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  transform: scaleX(-1);
}